@import "tailwindcss";

:root {
  color-scheme: light;
}

html,
body {
  background-color: #ffffff !important;
  color: #0f172a !important;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}